@import "../../../variables.scss";

#footer-wrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: $footerheight;

  #footer {
    max-width: $pagewidth;
    margin: auto;
    padding: 20px;

    #copy-right {
      display: inline-block;
      color: $white;
      font-size: 12px;
    }

    #signature {
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      color: $white;
      text-align: center;
      float: right;

      span {
        color: $error;
      }

      a {
        color: $darkgray;
      }
    }
  }
}
