@import "../../../../variables.scss";

#reset-password-wrapper {
  position: relative;
  min-width: 300px;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  animation-name: slide-up;
  animation-duration: $animatetime1;

  #reset-password {
    padding: 40px;
    box-sizing: border-box;
    box-shadow: $shadowdepth1;
    border-radius: 5px;
    background-color: $brightlight;

    #reset-password-form {
      opacity: 1;
      transition: $animatetime1;

      &.success {
        opacity: 0;
      }

      #reset-password-header {
        margin-bottom: 30px;
        font-size: 18px;
        text-align: center;

        span {
          user-select: none;
          cursor: default;
        }
      }

      .reset-password-field {
        min-width: 100%;
      }

      #error-message {
        display: block;
        min-height: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 14px;
        color: $error;
      }

      #reset-password-spinner {
        margin: auto;
        @include spinner(50px);
      }

      #reset-password-button {
        display: block;
        margin: auto;
        @include button-font();
        @include bubble($primary, 50px);
      }
    }
  }

  #reset-password-success {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    opacity: 0;
    animation-name: slide-up;
    animation-delay: $animatetime1;
    animation-duration: $animatetime2;
    animation-fill-mode: forwards;

    #reset-password-login {
      display: block;
      margin-top: 40px;
      font-size: 16px;
      color: $primary;
    }
  }
}
