@import "../../../../variables.scss";

#agency {
  position: relative;
  padding: 80px 40px;
  box-sizing: border-box;
  background-color: $white;

  &.show {
    #agency-content {
      .agency-list:nth-child(1) {
        animation: agency-slide-up $animatetime2 0s forwards;
      }

      .agency-list:nth-child(2) {
        animation: agency-slide-up $animatetime2 $animatetime2 forwards;
      }
    }
  }

  #agency-content {
    max-width: $pagewidth;
    margin: auto;

    #agency-title {
      font-size: 48px;
      text-align: center;

      @include respond-to(mobile_landscape) {
        font-size: 32px;
      }
    }

    .agency-list {
      display: inline-block;
      width: 100%;
      opacity: 0;

      &:first-child {
        border-bottom: 1px solid $shadow;
      }

      .content-list-title {
        width: 150px;
        font-size: 21px;
        line-height: 100px;
        float: left;

        @include respond-to(mobile_landscape) {
          font-size: 18px;
          line-height: 40px;
          float: none;
        }
      }

      .content-list {
        width: auto;
        overflow: hidden;

        .content-list-item {
          display: inline-block;
          position: relative;
          width: 170px;
          height: 100px;
          text-align: center;
          font-size: 19px;

          @include respond-to(mobile_landscape) {
            font-size: 16px;
          }

          img {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: $animatetime1;
          }

          .content-list-link {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: transparentize($primary, 0.3);
            opacity: 0;
            transition: $animatetime1;
            z-index: 1;

            &:hover,
            &:focus {
              opacity: 1;

              + img {
                transform: translate(-50%, -50%) scale(1.2);
              }
            }

            span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 21px;
              color: $white;
              white-space: nowrap;
              user-select: none;
            }
          }
        }
      }
    }
  }
}

@keyframes agency-slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
