@import "../../../../variables.scss";

#profile-wrapper {
  min-width: 300px;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  animation-name: slide-up;
  animation-duration: $animatetime1;

  #profile {
    padding: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: $brightlight;

    #profile-header {
      margin-bottom: 30px;
      font-size: 18px;
      text-align: center;

      #profile-info-wrapper {
        display: inline-block;
        position: relative;
        vertical-align: top;
      }

      #profile-info-wrapper {
        #profile-email {
          font-weight: 200;
          font-size: 14px;
          line-height: 16px;
          color: $darkgray;
        }

        #profile-change-email,
        #profile-change-password {
          display: inline-block;
          margin-top: 10px;
          height: 30px;
          width: 100%;
          border-radius: 5px;
          box-sizing: border-box;
          line-height: 30px;
          @include gradient-background();
          color: $white;
          @include button-font(10px);

          &:focus,
          &:hover {
            transform: translateY(0px);
          }
        }
      }
    }

    .profile-field {
      min-width: 100%;
    }

    #error-message {
      display: block;
      height: 30px;
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
      color: $error;
    }

    #profile-spinner {
      margin: auto;
      @include spinner(50px);
    }

    #profile-button {
      display: block;
      margin: auto;
      @include button-font();
      @include bubble($primary, 50px);
    }
  }
}
