@import "./variables.scss";

* {
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

#app {
  position: relative;
  padding: $headerheight 0px $footerheight 0px;
  min-height: 100vh;
  box-sizing: border-box;
  opacity: 0;
  animation: app-fade-in $animatetime2 forwards;
}

@keyframes app-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
