$white: #ffffff;
$black: #555555;
$primary: #ff0000;
$lightgray: #f0f0f0;
$gray: #d0d0d0;
$darkgray: #a0a0a0;
$error: #f44336;
$light: rgba(255, 255, 255, 0.3);
$brightlight: rgba(255, 255, 255, 0.8);
$shadow: rgba(0, 0, 0, 0.2);
$darkshadow: rgba(0, 0, 0, 0.5);
$transparent: transparent;

$headerheight: 60px;
$footerheight: 60px;

$pagewidth: 1000px;

$animatetime1: 0.3s;
$animatetime2: 0.5s;

$shadowdepth1: $shadow 0px 1px 5px;
$shadowdepth2: $darkshadow 0px 1px 15px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: 420px) {
      @content;
    }
  } @else if $media == mobile_landscape {
    @media only screen and (max-width: 650px) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  } @else if $media == tablet_landscape {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  } @else if $media == small_laptop {
    @media only screen and (max-width: 1260px) {
      @content;
    }
  } @else if $media == common_laptop {
    @media only screen and (max-width: 1366px) {
      @content;
    }
  } @else if $media == mac_book_screen {
    @media only screen and (max-width: 1442px) {
      @content;
    }
  } @else if $media == small_desktop {
    @media only screen and (max-width: 1660px) {
      @content;
    }
  }
}
