@import "../../../variables.scss";

#not-found-wrapper {
  position: relative;
  min-width: 300px;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  animation-name: slide-up;
  animation-duration: $animatetime1;

  #not-found {
    padding: 40px;
    box-sizing: border-box;
    box-shadow: $shadowdepth1;
    border-radius: 5px;
    background-color: $brightlight;
  }
}
