@import "../../../../variables.scss";

#contact {
  position: relative;
  padding: 80px 40px;
  box-sizing: border-box;
  background-color: $brightlight;

  &.show {
    #contact-content {
      .contact-item:nth-child(2) {
        animation: contact-slide-up $animatetime2 0s forwards;
      }

      .contact-item:nth-child(3) {
        animation: contact-slide-up $animatetime2 $animatetime2 forwards;
      }

      .contact-item:nth-child(4) {
        animation: contact-slide-up $animatetime2 $animatetime2 * 2 forwards;
      }
    }
  }

  #contact-content {
    max-width: $pagewidth;
    margin: auto;

    #contact-title {
      font-size: 48px;
      text-shadow: 1px 1px $white;
      margin-bottom: 40px;

      @include respond-to(mobile_landscape) {
        font-size: 32px;
      }
    }

    .contact-item {
      opacity: 0;

      .contact-subtitle {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .contact-info {
        margin-bottom: 40px;

        td {
          vertical-align: top;
        }
      }
    }
  }
}

@keyframes contact-slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
