@import "../../../variables.scss";

#home-wrapper {
  #headline {
    position: relative;
    min-height: 100vh;
    margin-top: -$headerheight;
    opacity: 0;
    animation: slide-up $animatetime2 $animatetime2 forwards;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      max-width: 500px;
      text-align: center;
      font-size: 48px;
      font-weight: 700;
      color: $white;

      @include respond-to(mobile_landscape) {
        font-size: 32px;
      }
    }
  }

  #about,
  #products,
  #contact {
    position: relative;
    min-height: 500px;
    padding: 80px 40px;
    box-sizing: border-box;

    .section-loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 200px;
      font-weight: bold;
      text-align: center;
      opacity: 0.1;
    }

    .container {
      opacity: 0;
      animation: slide-up $animatetime2 $animatetime2 forwards;
    }
  }

  #about {
    background-color: $brightlight;
  }

  #products {
    background-color: $white;
  }

  #contact {
    background-color: $brightlight;
  }
}
