@import "../../../../variables.scss";

#change-password-wrapper {
  min-width: 300px;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  animation-name: slide-up;
  animation-duration: $animatetime1;

  #change-password-back {
    display: inline-block;
    position: relative;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 40px;
    box-shadow: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-right: 5px solid;
      top: 50%;
      left: 5px;
      transform: translate(0%, -50%);
      transition: $animatetime1;
    }

    &:hover,
    &:focus {
      transform: translateY(0px);

      &::before {
        transform: translate(-5px, -50%);
      }
    }
  }

  #change-password {
    padding: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: $brightlight;

    .change-password-field {
      min-width: 100%;
    }

    #error-message {
      display: block;
      height: 30px;
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
      color: $error;
    }

    #change-password-spinner {
      margin: auto;
      @include spinner(50px);
    }

    #change-password-button {
      display: block;
      margin: auto;
      @include button-font();
      @include bubble($primary, 50px);
    }
  }
}
